body{
    background-color: black;
    font-family: 'Prata', serif;
}



.menu{
    height: auto;
    float: left;
    position: fixed;
    right: 0;
    top: 10px;
    margin-right: 10px;
    font-family: 'Prata', serif;
}

.submenu{
    background-color: gray;
    height: 50px;
    width: 100px;
    float: left;
    outline-style: solid;
    outline-color: dimgray;
    color: white;
    font-size: 15px;
    text-align: center;
    line-height: 15px;
    border-radius: 25px;
    transition: 0.5s;
    font-family: 'Prata', serif;
}

#shadow{
    margin-left: 20px;
}

#light:hover{
    box-shadow: 0 0 10px #fff,
                 0 0 20px #fff, 
                 0 0 40px #fff;
    text-shadow: 0 0 10px #fff,
                 0 0 20px #fff, 
                 0 0 40px #fff;
    background-color: #cfcfcf;
    color: white;
    cursor: pointer;
    font-size: 20px;
}

#shadow:hover{
    box-shadow: 0 0 10px darkgray,
                 0 0 20px darkgray, 
                 0 0 40px darkgray;
    text-shadow: 0 0 10px #212121,
                 0 0 20px #212121, 
                 0 0 40px #212121,
                 0 0 60px #212121;
    background-color: #212121;
    color: dimgray;
    cursor: pointer;
    font-size: 20px;
    outline-color: darkgray;
}

/*menu ends*/

.title{
    font-family: 'Prata', serif;
    width: 90%;
    border-style: solid;
    border-color: transparent;
    color: white;
    height: flex;
    margin-top: 50px;
    font-size: 200px;
    text-align: center;
    align-items: center;
    line-height: 200px;
    border-radius: 25px;
    transition: 0.5s;
    text-decoration: none;
    background-color: transparent;
    text-shadow: 0 0 10px dimgray,
                 0 0 20px dimgray, 
                 0 0 40px dimgray;
    animation-name: title;
    animation-duration: 3s;
    animation-timing-function: linear;
}

@keyframes title{
    0% {color: black;}
    50% {color: white;}
    100% {color: dimgray;}
}

#name{
    color: whitesmoke;
    animation-name: name;
    animation-duration: 3s;
    animation-timing-function: linear;
}

@keyframes name{
    0% {color: black;}
    100% {color: whitesmoke;}
}

#name:hover{
    
}

.subtitle{
    margin-bottom: 200px;
    font-size: 30px;
    color: dimgray;
    height: flex;
    margin-top: 0px;
}

i{
    font-size: 20px;
    color: black;
    align-items: center;
    animation-name: blink;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    text-shadow: none;
}

@keyframes blink{
    0%{color: black;}
    50%{color: whitesmoke;}
    100%{color: black;}
}

.container{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.items{
    font-family: 'Prata', serif;
    width: 90%;
    border-style: solid;
    border-color: transparent;
    color: #2b2b2b;
    height: flex;
    margin-bottom: 50px;
    margin-top: 600px;
    font-size: 200px;
    text-align: center;
    align-items: center;
    line-height: 150px;
    border-radius: 25px;
    transition: 0.5s;
    text-decoration: none;
    background-color: transparent;

}

.items:hover{
    color: white;
    border-color: transparent;
    cursor: pointer;
    text-shadow: 0 0 10px dimgray,
                 0 0 20px dimgray, 
                 0 0 40px dimgray;

}

#intro{
    margin-top: 300px;
}

#myroom{
    margin-bottom: 300px;
}
/*container ends*/


.article{
    background-color: transparent;
    /*box-shadow: 0 0 10px dimgray,
                 0 0 20px dimgray, 
                 0 0 40px dimgray;*/
    color: gray;
    font-family: 'Prata', serif;
    font-size: 30px;
    line-height: 50px;
    width: 60%;
    height: flex;
    display: none;
    padding: 20px;
    padding-right: 100px;
    padding-left: 100px;
    text-align: left;
}

#article6{
    margin-bottom: 300px;
    text-align: center;
}

.link{
    color: #7a6363;
}

/*article ends*/



@media screen and (max-width: 1200px) and (min-width: 700px){
    .container{
        align-items: center;
    }
    .items{
        width: 90%;
        height: 150px;
        line-height: 150px;
        font-size: 150px;
    }

    #name{
        font-size: 150px;
        line-height: 150px;
    }

    .article{
        font-size: 30px;
        line-height: 50px;
    }

}

@media screen and (max-width: 700px) {
    .container{
        flex-direction: column;
    }
    .items{
        width: 90%;
        height: 150px;
        line-height: 150px;
        color: white;
        font-size: 60px;
        margin-top: 30px;
        margin-bottom: 10px;
    }
    .article{
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 100px;
    }

    #name{
    font-size: 100px;
    line-height: 100px;
    }

    .title{
        margin-bottom: 0px;
    }

    #myroom{
    margin-bottom: 100px;
    }
}
    /*Size variable ends*/

